<plugin start="true">
	<uid>merlin-settings</uid>
	<name>pt.uminho.ceb.biosystems.merlin.settings</name>
	<version>4.0.0</version>

	<dependencies>
		<dependency uid="merlin" />
	</dependencies>

	<extensions>
		<extension uid="aibench.core"
			name="aibench.core.operation-definition"
			class="pt.ceb.biosystems.merlin.merlin_settings.DatabaseConfigSettings">
			<operation-description
				name="database" path="50@settings/"
				uid="operations.DatabaseConfig.ID" />
		</extension>

		<extension uid="aibench.workbench"
			name="aibench.workbench.view">
			<icon-operation
				operation="operations.DatabaseConfig.ID"
				icon="icons/Lifecycle/edit.png" />

		</extension>

		<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->

		<extension uid="aibench.core"
			name="aibench.core.operation-definition"
			class="pt.ceb.biosystems.merlin.merlin_settings.ReactionThresholdsSettings">
			<operation-description
				name="find genes thresholds" path="50@settings/10@tools"
				uid="operations.ReactionThresholdsConfig.ID" />
		</extension>

		<extension uid="aibench.workbench"
			name="aibench.workbench.view">
			<icon-operation
				operation="operations.ReactionThresholdsConfig.ID"
				icon="icons/Lifecycle/edit.png" />

		</extension>

		<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->

		<extension uid="aibench.core"
			name="aibench.core.operation-definition"
			class="pt.ceb.biosystems.merlin.merlin_settings.EBiomassContentsSettings">
			<operation-description
				name="ebiomass contents" path="50@settings/20@tools"
				uid="operations.EBiomassContentsConfig.ID" />
		</extension>

		<extension uid="aibench.workbench"
			name="aibench.workbench.view">
			<icon-operation
				operation="operations.EBiomassContentsConfig.ID"
				icon="icons/Lifecycle/edit.png" />

		</extension>

		
		<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->

		<extension uid="aibench.core"
			name="aibench.core.operation-definition"
			class="pt.ceb.biosystems.merlin.merlin_settings.GPRConfigSettings">
			<operation-description
				name="gpr rules" path="50@settings/30@tools"
				uid="operations.GPRConfig.ID" />
		</extension>

		<extension uid="aibench.workbench"
			name="aibench.workbench.view">
			<icon-operation operation="operations.GPRConfig.ID"
				icon="icons/Lifecycle/edit.png" />

		</extension>
		<extension uid="aibench.workbench"
			name="aibench.workbench.view">

			<gui-operation operation="operations.DatabaseConfig.ID"
				class="pt.ceb.biosystems.merlin.merlin_settings.DatabaseConfigGUI" />

			<gui-operation
				operation="operations.ReactionThresholdsConfig.ID"
				class="pt.ceb.biosystems.merlin.merlin_settings.ReactionThresholdsConfigGUI" />

			<gui-operation
				operation="operations.EBiomassContentsConfig.ID"
				class="pt.ceb.biosystems.merlin.merlin_settings.EBiomassContentsConfigGUI" />

			<gui-operation
				operation="operations.TranspReactionsConfig.ID"
				class="pt.ceb.biosystems.merlin.merlin_settings.TranspReactionsConfigGUI" />

			<gui-operation operation="operations.GPRConfig.ID"
				class="pt.ceb.biosystems.merlin.merlin_settings.GprSettingsConfigGUI" />
		</extension>
		<extension uid="aibench.workbench"
			name="aibench.workbench.view">
			<menu-icon menu="settings" icon="conf/icons/edit.png" />
		</extension>
	</extensions>

</plugin>
